<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">
<head lang="en">
	<meta charset="UTF-8"></meta>
	<title>spring-react-webapp</title>
	
	<!-- React.js -->
    <script src="/react_modules/react.min.js"></script>
    <script src="/react_modules/react-dom.min.js"></script>
    <script src="/react_modules/browser.min.js"></script>
	
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="main.css"></link>
</head>
<body>
	
    <div id="root"></div>
    
    <!-- Custom React components -->
    <script type="text/babel" src="/public/app.js"></script>	

</body>
</html>